.heading{
    width:100%;
    text-align: left;
}
.heading h3{
    display:inline;
}
.heading button{
    float: right;
    border: 1px solid yellow;
}
.big_img{
    width: 100%;
}
#start ,#status{
    font-size:22;
}
.modal_dialog{
    width:90%;
}
.instruction_image{
    display: inline-block;
    width: 80%;
}
h4{
    background-color:tan;
    line-height: 2;
    margin: 0px;
    bottom: 100%;
}
video{
    background:url('game_console.png');
    background-size: cover;
    background-position: center;
    padding: 25px;
}